
@model IEnumerable<WebApplication3.Models.OdaTürü>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div id="content-wrapper">
    <div class="container-fluid">


        <div class="card mb-3">
            <div class="card-header">

                <h4><i class="fas fa-table"></i>Oda Türü listesi</h4> <br />
                <div class="card-header">


                    <a class="btn btn-primary mx-4" href="/OdaTürü/Create/">Yeni OdaTürü Ekle</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Oda Türü</th>


                                    <th>İŞLEMLER</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.OdaTürüid</td>
                                        <td>@item.OdaTürü1</td>




                                        <td>

                                            <a href="/OdaTürü/Edit/@item.OdaTürüid" class="btn btn-success">Düzenle</a>| <a href="/OdaTürü/Delete/@item.OdaTürüid" class="btn btn-danger"> Sil</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
