<!DOCTYPE html>
<html>
<head>
  
        @RenderBody()
     

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
